<h3>マイページ</h3>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <tr>
    <th>プロフィール画像</th>
    <td>
      <% if @user.avatar.attached? && @user.avatar.variable? %>
        <%= image_tag @user.avatar.variant(resize: "100x100"), 
                      class: "rounded-circle", 
                      style: "width: 100px; height: 100px; object-fit: cover;" %>
      <% else %>
        <%= image_tag "default_avatar.png", size: "100x100", class: "rounded-circle" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>ユーザー名</th>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= current_user.bio %></td>
  </tr>
  <tr>
    <th>パスワード</th>
    <td>**********</td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to "アカウント設定", edit_user_path(current_user) %></li>
  </ul>
</div>