<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <tr>
    <th>施設画像</th>
    <td>
      <% if @room.image.attached? && @room.image.variable? %>
        <%= image_tag @room.image.variant(resize: "100x100"), 
                      class: "rounded-circle", 
                      style: "width: 100px; height: 100px; object-fit: cover;" %>
      <% else %>
        <%= image_tag "default-image.png", size: "100x100", class: "rounded-circle" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>施設名</th>
    <td><%= @room.name %></td>
  </tr>
  <tr>
    <th>施設詳細</th>
    <td><%= @room.introduction %></td>
  </tr>
  <tr>
    <th>料金</th>
    <td><%= @room.price %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @room.address %></td>
  </tr>
</table>

<div>
  <ul>
    <% if current_user.id == @room.user_id %>      
      <li><%= link_to "編集", edit_room_path(@room) %></li>
    <% end %>
  </ul>
</div>